name: Close inactive issues and PRs
on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      # https://github.com/marketplace/actions/close-stale-issues
      - uses: actions/stale@v9
        with:
          any-of-issue-labels: waiting-for-customer
          stale-label: stale
          exempt-pr-labels: exempt
          exempt-issue-labels: exempt
          days-before-issue-stale: 14
          days-before-issue-close: 14
          stale-issue-message: |
            This issue is stale because it has been open for 14 days with no response
            from the reporter.  It will be automatically closed in 14 days from this message.
          close-issue-message: |
            This issue was closed because it has been inactive for 28 days.
          stale-pr-message: |
            This PR is stale because it has been open for 30 days with no activity.
            It will be automatically closed in 30 days from this message.
          close-pr-message: |
            This PR was closed because it has been inactive for 60 days.
          days-before-pr-stale: 30
          days-before-pr-close: 30
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          # debug-only: false
