name: Tests
on:
  push:
    branches: 
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '.github/**'
      - '**.go'
      - go.mod
      - go.sum

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ vars.GO_VERSION }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Tests
      run: make .build-tests
    
    - name: Upload to codecov
      uses: codecov/codecov-action@v3
